.playerinfo {
  display: inline-block;
  width: $box-std;
  // border: solid 1px $brand-primary;
  // border-radius: 3px;
  // float: right;
  margin: $gutter-xsm;
  padding: $gutter-xsm;
}

.currentlocation {
  text-transform: uppercase;
  font-weight: bold;
}
