<section class="playerinfo">
  <!-- <h2>Our Player</h2> -->

  <!-- <ul> -->
    <!-- <li>
      <span>name:</span>
      <span>{{ playerInfoCtrl.player.name }}</span>
    </li> -->
    <!-- <li> -->
    <p>
      <span>current location:</span>
      <span class="currentlocation">{{ playerInfoCtrl.player.location }}</span>
    </p>
    <!-- </li> -->
    <!-- <li> -->
    <p>
      <span>inventory:</span>
      <span class="currentlocation">{{ playerInfoCtrl.player.inventory }}</span>
    </p>
    <!-- </li> -->
  <!-- </ul> -->
</section>
