@import "../../scss/lib/theme/vars";

.history {
  background: $brand-secondary;
  overflow: auto;
  max-height: 15vw;
  color: $white;
  padding: 2vw;

  li {
    margin-bottom: $gutter-sm /2;

    span {
      font-size: 2vw;
    }
  }
}
