<section class="gamehistory">
  <h2>history</h2>

  <ul ng-repeat="stat in gameHistoryCtrl.history">
    <!-- <li> -->
    <!-- <span>location:</span>
      <span>{{ stat.location }}</span>
    </li> -->
    <!-- <li>
    </span>inventory:</span>
      <span>{{ stat.inventory }}</span>
    </li> -->
    <li>
      <!-- </span>turn #:</span> -->
      <span>{{ stat.turn }}.</span>
      <span>location:</span>
      <span>{{ stat.location }}</span>
    </li>
    <li>
    <!-- <span>description:</span> -->
    <span>{{ stat.description }}</span>
  </li>
  </ul>
</section>
