@import '../../scss/lib/theme/vars';

.game-window {
  background: $black;
  height: 30vw;
  overflow: auto;
  color: $white;
  border: 7px ridge $gray;
  border-bottom: none;
  font-size: 1em;
  font-family: Monospace;
  padding: 1vw 1vw 2.5vw 1vw;

  div h2 {
    color: $blue-highlight;
  }

  div p:nth-child(2) {
    width: 70%;
  }

  div p:nth-child(3) {
    margin: 1% 0;
    color: $blue-highlight;
  }

  div p span {
    color: $blue-dull;
  }

  div p:nth-child(4) {
    color: $green;
    margin-top: 2%;
  }
}
