$padding-std: 2%;
$margin-std: 2%;

$footer-color: #414666;
$primary-color: #002245;
$secondary-color: #CED5D9;
$tertiary-color: #82D741;
$btn-background: #5da824;
$white: #fff;
$shadow: rgba(0, 0, 0, 0.3);
