<section class="gamepad">
  <form name="gamepad" novalidate>
    <div>
      <button type="button" class="directionNorth" ng-click="gamePadCtrl.movePlayer('north')">North</button>
      <div>
        <button type="button" class="directionWest" ng-click="gamePadCtrl.movePlayer('west')">West</button>
        <button type="button" class="directionEast" ng-click="gamePadCtrl.movePlayer('east')">East</button>
      </div>
      <button type="button" class="directionSouth" ng-click="gamePadCtrl.movePlayer('south')">South</button>
    </div>
  </form>
</section>
