<section class="gamepad">
  <form name="gamepad" novalidate>

    <label for="direction">travel to the</label>

    <!-- <button type="button" ng-click="gamePadCtrl.movePlayer(gamePadCtrl.directions[0])">NORTH</button>
    <button type="button" ng-click="gamePadCtrl.movePlayer(gamePadCtrl.directions[1])">EAST</button>
    <button type="button" ng-click="gamePadCtrl.movePlayer(gamePadCtrl.directions[2])">SOUTH</button>
    <button type="button" ng-click="gamePadCtrl.movePlayer(gamePadCtrl.directions[3])">WEST</button>
    <button type="button" ng-click="gamePadCtrl.movePlayer(gamePadCtrl.moveDirection.directions[3])">WEST</button>

    <button type="button" ng-click="direction in gamePadCtrl.directions" value="gamepadCtrl.directions[3]">NEW WEST</button> -->

    <select ng-model="gamePadCtrl.moveDirection">
      <option ng-repeat="direction in gamePadCtrl.directions" value="{{ direction }}">
      {{ direction }}
      </option>
    </select>

    <button type="button" ng-click="gamePadCtrl.movePlayer()">go</button>

  </form>
</section>
