<section class="player-info">
  <h2>stats</h2>

  <ul>
    <li>
      <span>Name:</span>
      <span>{{ playerInfoCtrl.player.name }}</span>
    </li>
    <li>
      <span>HP:</span>
      <span>{{ playerInfoCtrl.player.hp }}</span>
    </li>
    <li>
      <span>Location:</span>
      <span>{{ playerInfoCtrl.player.location }}</span>
    </li>
    <li>
      <span>Items:</span>
      <span>{{ playerInfoCtrl.player.items }}</span>
    </li>
    <li>
      <span>knowledge:</span>
      <span>{{ playerInfoCtrl.player.knowledge }}</span>
    </li>
    <li>
      <span>Message:</span>
      <span>{{ playerInfoCtrl.player.message }}</span>
    </li>
  </ul>
</section>
