<section class="player-info">
  <ul>
    <li>
      <span class="label">Name:</span>
      <span>{{ playerInfoCtrl.player.name }}</span>
    </li>
    <li>
      <span class="label">HP:</span>
      <span>{{ playerInfoCtrl.player.hp }}</span>
    </li>
    <li>
      <span class="label">Location:</span>
      <span>{{ playerInfoCtrl.player.location }}</span>
    </li>
    <li>
      <span class="label">Items:</span>
      <span>{{ playerInfoCtrl.player.items }}</span>
    </li>
    <li>
      <span class="label">knowledge:</span>
      <span>{{ playerInfoCtrl.player.knowledge }}</span>
    </li>
  </ul>
  <ul>
    <li>
      <span class="label">Message:</span>
      <span id="player-message">{{ playerInfoCtrl.player.message }}</span>
    </li>
  </ul>
</section>
